@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

.masonry-with-columns {
  column-width: min(250px, 30vw);
  column-count: auto;
  column-gap: 1rem;
}

.masonry-with-columns > div {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card_mini img {
  cursor: pointer;
}

img {
  max-height: calc(100vh - 150px);
  width: auto;
  object-fit: contain;
}
